# Environment variables (secrets)
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Logs
*.log

# Ignore version_2 completely
version_2/

# Ignore cache in version_1
version_1/.cache/

# Ignore cache
.cache/